.main {
  background: linear-gradient(to bottom, #003a73a9, #e5e5bea0);
}

.footerImage {
  background: #e5e5bea0;
}

.footerInfo {
  background: var(--theme-color);
}

.featureCard:hover,
.howToUseCard:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.5s;
}

.table td:hover {
  color: black;
}

.table th {
  background-color: #77a1d3 !important;
}
