.scrollUpBox {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}

.scrollUpIcon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
