@import "bootstrap-icons/font/bootstrap-icons.css";
:root {
  --primary-color: #2b5876;
  --secondary-color: #685e8e;
  --light-color: #79cbca;
  --warning-gradient: linear-gradient(to left, #f09819 0%, #edde5d 90%);
  --danger-gradient: linear-gradient(to right, #da4453, #89216b);
  --success-gradient: linear-gradient(to right, #348f50, #56b4d3);
  --info-gradient: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
  --primary-gradient: linear-gradient(to right, #2b5876, #4e4376);
  --theme-color: linear-gradient(to right, #2b5876, #4e4376);
}

html,
body {
  height: 100vh;
  margin: 0;
}

//常用
h1,
h2,
label,
.fieldListName {
  font-weight: bold;
  margin: 16px 0;
}

.link {
  text-decoration: none;
  font-weight: bold;
}

.col {
  margin-bottom: 16px;
}
//常用

//按鈕
button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  a {
    color: white;
  }
}

.danger {
  background: var(--danger-gradient);
  color: white;
}

.warning {
  background: var(--warning-gradient);
  color: black;
}

button.warning > a {
  color: black;
}

.success {
  background: var(--success-gradient);
  color: white;
}

.primary {
  background: var(--primary-gradient);
  color: white;
}

.info {
  background: var(--info-gradient);
  color: white;
}

.header {
  background: var(--theme-color);
}
//按鈕

//表格
.custom-striped {
  --bs-table-striped-bg: #2b587631;
  --bs-table-hover-bg: #2b5876c0;
}

.table-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: black;
  text-align: center;
}

tr {
  vertical-align: middle;
}

td {
  &hover {
    color: var(--primary-color);
  }
  a {
    color: black;
    font-weight: bold;
    &:hover {
      font-weight: bolder;
    }
  }
}
//表格

//表單
.form-control,
.form-select {
  background-color: #2b587631;
}

.form-control,
.form-select {
  border-radius: 50px;
}
//表單

//深色背景文字
.wh {
  color: white;
  font-weight: bold;
}

//頁碼
.pagination {
  --bs-pagination-color: black;
  --bs-pagination-active-bg: var(--primary-color);
}
//頁碼

//導航欄連結
.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.navbar-brand:active,
.navbar-brand:hover {
  color: #b6fbff;
}

.navbar-brand:focus {
  color: #b6fbff;
}
//導航欄連結

//圖表
canvas {
  max-width: 400px;
  max-height: 400px;
}
//圖表
