html,
body {
  height: 100vh;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
}

main > div {
  padding-top: 61.333px;
}

.custom-striped {
  --bs-table-striped-bg: rgb(139, 185, 254, 0.3);
  --bs-table-hover-bg: rgb(139, 185, 254);
  --bs-table-color: rgb(6, 60, 139);
  --bs-table-striped-color: rgb(6, 60, 139);
  --bs-table-hover-color: rgb(6, 60, 139);
}

h1,
h2,
h3,
p,
label,
.apple {
  color: rgb(6, 60, 139);
  font-weight: bold;
  margin: 16px 0;
}

.form-control,
.form-select {
  background-color: rgba(139, 185, 254, 0.3);
}

button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn {
  font-weight: bold;
}

tr {
  vertical-align: middle;
}

td,
caption,
.custom-color {
  color: rgb(6, 60, 139);
}

.wh {
  /*header footer文字*/
  color: white;
  font-weight: bold;
}

.pagination {
  --bs-pagination-color: rgb(6, 60, 139);
  --bs-pagination-active-bg: rgb(6, 60, 139);
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.navbar-brand:active,
.navbar-brand:hover {
  color: rgb(139, 185, 254);
}

.navbar-brand:focus {
  color: white;
}

.col {
  margin-bottom: 16px;
}

/* 全螢幕背景 */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(139, 185, 254);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* 旋轉動畫 */
.loader-icon {
  font-size: 60px; /* 圖示大小 */
  color: white; /* 顏色 */
  animation: spin 1s linear infinite; /* 讓圖示旋轉 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 文字樣式 */
.loader-text {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.custom-toggler {
  /* background-color: #063c8b !important;  */
  border: 3px solid white; /* 白色邊框 */
  padding: 5px 10px;
  border-radius: 5px; /* 圓角 */
}

.custom-toggler .navbar-toggler-icon {
  filter: invert(1); /* 讓三條線變白色 */
}

canvas {
  max-width: 400px;
  max-height: 400px;
}
